@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");

body {
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
  font-family: "Hi Melody", cursive;
  min-height: 100vh;
  margin: auto;
  font-family: "Hi Melody", cursive;
}

code {
  font-family: "Hi Melody", cursive;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}
@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}
#root {
  background-color: #f6f6f6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.App {
  margin: auto;
  background-color: #fff;
  background-image: url("./../public/assets/back.jpg");
  background-size: cover;
}

/* design */
.LandingPage button {
  font-family: "Hi Melody", cursive;
  width: 150px;
  color: #fff;
  font-weight: bold;
  background-color: #5dc8cd;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.LandingPage button:hover {
  background-color: #01939a;
}
.LoginPage label{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  font-family: "Hi Melody", cursive;

}
.LoginPage button {
  font-family: "Hi Melody", cursive;
  color: #fff;
  font-weight: bold;
  background-color: #5dc8cd;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.LoginPage button:hover {
  background-color: #01939a;
}
.LoginPage input {
  width: 250px;
  margin-bottom: 15px;

  border: none;
  border-radius: 8px;

  outline: none;
}

.RegisterPage label{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  font-family: "Hi Melody", cursive;

}
.RegisterPage button {
  font-family: "Hi Melody", cursive;
  color: #fff;
  font-weight: bold;
  background-color: #5dc8cd;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.RegisterPage button:hover {
  background-color: #01939a;
}
.RegisterPage input {
  width: 250px;
  margin-bottom: 15px;

  border: none;
  border-radius: 8px;

  outline: none;
}